// Footer
footer(style="margin-top:50px;")
	div.container
		p(style="text-align:center;") 
			| &copy; 2015 Northwestern University Medill School of Journalism 

// JavaScript
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
script(type='text/javascript', src='js/project.js?v10')