// Footer
footer(style="margin-top:50px;")
	div.container
		p(style="text-align:center;") 
			| &copy; 2013 V&eacute;rit&eacute;Co

// JavaScript
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(type='text/javascript', src='js/medill.co.js?v10')